*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; 
}

/*Menu*/
.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;   
}

.show-menu .hamburguer{
    right: 16rem;
    transition: all 1s;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: 0.3s;
}
.show-menu #line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

/*Menu*/

/*Banner*/
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8) ;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation:zoom 25s;
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .4rem 2px rgba(0,0,0,0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p {
    font-size: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0,0,0,0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
    
}

.banner button {
    font-family: var(--font-action);
    color: #ffffff;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #642B73;
    background: -webkit-linear-gradient(to right, #C6426E, #642B73); 
    background: linear-gradient(to right, #C6426E, #642B73); 
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover{
    opacity: 0.8;
}

.banner button a {
    color:#ffffff
}
/*Banner*/

/*Links do Menu*/
.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}

.menu-link:hover{
    color:#C6426E
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    color: #555;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 60ms;
}

.social-media i:hover{
    color: #C6426E;   
}
/*Links do Menu*/

/*Conhecimentos*/
.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
}

.conhecimento:nth-child(1){
    grid-column: 4/7;
    grid-row: 1/3;
}

.conhecimento:nth-child(2){
    grid-column: 3/6;
    grid-row: 3/5;
}

.conhecimento:nth-child(3){
    grid-column: 4/7;
    grid-row: 5/-1;
}

.conhecimento:nth-child(4){
    grid-column: 11/14;
    grid-row: 1/3;
}

.conhecimento:nth-child(5){
    grid-column: 12/15;
    grid-row: 3/5;
}

.conhecimento:nth-child(6){
    grid-column: 11/14;
    grid-row: 5/-1;
}

.sessao-conhecimentos{
    background-color: rgb(121, 116, 116);
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}


.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #555;
    margin-bottom: .5rem;
    margin-top: 3rem;
    border-bottom: solid 3px #C6426E;
    margin-bottom: 2rem;
}
.sessao-header h2{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #555;
    border-bottom: solid 3px #C6426E;
    margin-bottom: 2rem;
}


.conhecimento-header{
    display: flex;
    align-items: center;
    color: #555;
}

.conhecimento-header i{
    font-size: 2.5rem;    
}

.conhecimento-header h3 {
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    padding-left: 1rem;
}

.conhecimento-text{
    font-family: var(--font-secundary);
    margin-top: 1rem;
}
/*Conhecimentos*/

/*Imagem LGPD*/
.conhecimentos-img-wrapper{
    grid-column: 7/11;
    grid-row: 3/7;
    width: 100%;
}

.conhecimentos-img-wrapper img {
    object-fit: cover;
    width: 100% ;
}
/*Imagem LGPD*/

/*Projetos*/
.projetos{
    display: flex;
    justify-content: space-evenly ;
    margin-left: 5rem;
    margin-right: 1rem;
}

.card{
    width: 100%;
    height: 100%;
    position: relative;
}

.card-img-wrapper{
    width: 20%;
    height: 20%;
    border-radius: .5rem;

}

.card-img-wrapper img {
    width: 100%;
    height: 100%;
    opacity: .9;
}

.card-info{
    position: absolute;
    text-align:left;
    padding-right: 1rem; 
    align-content: center;  
}

.card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color:#C6426E;

}

.card-info h3{
    font-family: var(--font-secundary);
    font-size: 1.2rem;
    font-weight: bolder;
    color: rgb(70, 67, 67);
}

.projetos2{
    display: flex;
    justify-content: space-evenly ;
    margin-top: 18rem;
    margin-left: 5rem;
    margin-right: 1rem;
}
/*Projetos*/

/*Rodapé*/
.principal {
    width: 100%;
    min-height: 250px;
    margin-top: 20rem;
    background-color: #444;
    display: flex;
    justify-content: space-evenly;
}
 
.principal .boxs{
    width: 320px;
    min-height: 150px;
    padding: 20px;
    margin-bottom: 1.5rem;
}

.pricipal .boxs:nth-child(4){
    width: 400px;
}

.boxs h2 {
    font-family: var(--font-primary);
    color: #fff;
    margin-bottom: 1.5rem;
}

.boxs p {
    font-size: var(--font-secundary);
    font-size: 1.2rem;
    color: #fff;
    text-align: justify;
}

.boxs ul li {
    margin: 10px 0px ;
    list-style: none;
}

.boxs ul li a {
    font-size: var(--font-secundary);
    font-size: 1.2rem;
    color:#ffffff;
    text-decoration: none;

}

.boxs ul li a:hover{
    color: #C6426E;
}

.secundario {
    width: 100%;
    min-height: 50px;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
}

.secundario p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: var(--font-action);
    font-size: 1.1rem;
    color: #ffffff;
    text-align: center;
}






